<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
    <link rel="stylesheet" href="../styles/pokedex.css">
</head>
<body>
    <div class="contenedor">
        <input type="text" placeholder="Tu pokemon..." id="nombrePokemon">
        <button onclick="buscarPokemon()">Buscar Pokemon</button>
        <div class="pokedex__contenedor">
            <input type="checkbox" id="check">
            <img src="" id="imagenPokemon">
            <div class="pokedex__top">
            </div>
            <div class="pokedex__bottom">
            </div>
        </div>
    </div>
    <script src="../js/pokedex.js"></script>
</body>
</html>