*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.299), rgba(0, 0, 0, 0.203));
}
.contenedor{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
/*POKEDEX*/
.pokedex__contenedor{
    background: linear-gradient(0deg, #0073ff6a, #0073ff29, #0073ff2f);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
}
.main{
    position: relative;
    top: 35%;
    width: 100%;
    grid-template-columns: 40% 60%;
    border-radius: 10px;
    background: linear-gradient(0deg, #2584f93b, #5ba2f89a, #4493f440);
    display: none;
}
.main__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#id__pokemon{
    font-size: 22px;
    color: white;
    text-align: center;
}
#tipos__pokemon{
    display: flex;
    justify-content: space-evenly;
}
#abilities__pokemon{
    font-size: 16px;
    text-align: center;
}
#evolucion__pokemon{
    font-size: 14px;
}
#imagenPokemon{
    filter: opacity(.8);
    width: 100%;
}
input[type=checkbox] {
    display: none;
}
/*PARTE DE EXTREMOS*/
.pokedex__top{
    position: absolute;
    top: 0;
    background-image: url(../img/pokedex__img1.png);
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 40%;
    transition: translate 1s;
}
.pokedex__bottom{
    position: absolute;
    bottom: 0;
    background-image: url(../img/pokedex__img2.png);
    background-size: cover;
    width: 100%;
    height: 40%;
    border-radius: 0px 0px 10px 10px;
    transition: translate 1s;
}
input:checked ~ .pokedex__bottom{
    translate: 0 50%;
}
input:checked ~ .pokedex__top{
    translate: 0 -50%;
}
.contenedor__buscar{
    position: absolute;
    display: flex;
    gap: 2em;
}
#botonBuscar{
    border: none;
    border-radius: 15px;
    padding: .6em 1.3em;
    box-shadow: 0px 0px 10px #0000005c;
    z-index: 10;
}
#nombrePokemon{
    border: none;
    background-color: #ffffffc7;
    border-radius: 5px;
    z-index: 10;
    color: #000000;
}